* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    /* scroll-behavior: smooth; */
    font-size: 62.5%;
}

@media (max-width: 1280px) {
    html {
        font-size: 50%;
    }
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
}

.primary-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #059669;
    padding: 1rem 2rem;
    border-radius: 7px;
}

.logo-wrapper {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    border-bottom: 1px solid #e5e7eb;
    align-items: center;
}

.nav-items {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-item a {
    text-decoration: none;
    color: #4b5563;
}

.logo-icon {
    color: #059669;
    font-size: 3rem;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 2rem;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex-basis: 50%;
}

.hero-text-tag {
    background: #e5e7eb;
    color: #4b5563;
    width: fit-content;
    padding: 2px 1rem;
    border-radius: 2rem;
}

.hero-heading {
    font-size: 5rem;
}

.hero-paragraph {
    color: #4b5563;
}

.hero-lists {
    list-style: none;
    color: #4b5563;
}

.hero-list {
    display: flex;
    align-items: center;
    gap: 5px;
}

.hero-list i {
    color: #059669;
}

.outlined-btn {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 1rem 2rem;
    border-radius: 7px;
    border: 1px solid #e5e7eb;
}

.hero-btn-wrapper {
    display: flex;
    gap: 2rem;
}

.hero-image {
    width: 50rem;
    height: 40rem;
    border-radius: 1rem;
}

@media (max-width: 900px) {
    .hero-image {
        width: 40rem;
        height: 30rem;
    }
}

@media (max-width: 600px) {
    .hero-image-wrapper {
        display: none;
    }

    .hero-image {
        width: 100%;
        height: auto;
    }
}

.how-it-works {
    background-color: #e0f2f1;
    padding: 5rem 2rem;
}

.how-it-works-title {
    text-align: center;
}

.how-it-works-title h3 {
    font-size: 3rem;
    font-weight: 500;
}

.how-it-works-title p {
    color: #4b5563;
}

.how-it-works-card-container {
    display: flex;
    gap: 30px;
    margin-top: 40px;
}

.how-it-works-card {
    background-color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 10px;
}

.how-it-works-card h4 {
    font-weight: 600;
    font-size: 20px;
}

.card-icon {
    display: flex;
    background-color: #e0f2f1;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: #059669;
}

.everything-you-need {
    padding: 50px 20px;
}

.everything-you-need-title {
    text-align: center;
}

.everything-you-need-title h3 {
    font-size: 32px;
    font-weight: 500;
}

.everything-you-need-title p {
    color: #4b5563;
}

.everything-you-need-card-container {
    display: flex;
    gap: 30px;
    margin-top: 40px;
}

.everything-you-need-card {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 8px;
    border: 1px solid #e5e7eb;
}

.everything-you-need-card h4 {
    font-weight: 500;
    font-size: 20px;
}

.everything-you-need-card p {
    color: #4b5563;
}

.everything-you-need-card ul {
    color: #4b5563;
    list-style: none;
}

/* CTA */
.cta {
  background:#e0f2f1;
  color: #ffffff;
  padding: 2.5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.cta-box {
    text-align: center;
    background-color: #059669
}
.container {
    padding: 4rem;
    border-radius: 7px;
}

.cta h3 {
  font-size: 28px;
  margin-bottom: 12px;
}

.cta p {
  max-width: 700px;
  margin: 0 auto 24px;
}

.btn {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 1rem 1rem;
    border-radius: 7px;
    background-color:#e5e7eb;
}

/* Footer */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.footer-content {
    padding: 20px;
  display: flex;
  align-items: center;
  justify-content:space-between;
  gap: 20px;
  color: #4b5563;
}

/* Responsive */
@media (max-width: 900px) {
  .hero-grid,
  .cards,
  .footer-content {
    grid-template-columns: 1fr;
    flex-direction: column;
    text-align: center;
  }

  .navbar nav {
    display: none;
  }
}